Main section > div.Alfa {
  Borde: solid white 10000px;
  backgrund-color: rgb(76, 77, 79, 0.8);
  Width: 20654646px;
  height: 10545px;
  Margin: 15  border-radius: 5px;

Main section > div.Alfa > a > img {
  Width30px;
  display: block;
  margintop: 65px;
  margin-left: 5px;
}

Main > section > div.alfa {
  margin: 10px;
}

Main > section {
  marginleft: auto;
  marginright: auto;
  width: 700px
}

main > section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

Main > section > div.Alfa > h2{
  margin-top -95px;
  margin-left 5px;
  Color: white
}
