HTML{
  font-size: 100%;
  text-align: center;
  margin: auto;
}

body{
  font-family: sans-serif;
}

.secKontakterOuterDiv{
  margin: 1.5em;
}

#secKontakter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: auto;
  background-color: lightgreen;
}
#secKontakter div{
  padding: 1rem;
}
