.grid{
  display: grid;
  grid-gap:5px;
  grid-template-columns:1fr 1fr 1fr 1fr;



}
@media(max-width: 900px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid>article>p{
    color: yellow;
    font-size: 26px;
  }
}
@media(max-width: 600px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .grid>article>p{
    font-size: 32px;
    color: black;
  }
}
@media(max-width: 300px){
  .grid{
    grid-template-columns: 1fr;
  }
}
.grid>article>p{
  font-size: 40px;
  color: red;
}
