*{
  font-family: monospace;
}


html {
  margin-top: 6%;
}


.handel{
  text-align: left;
  margin-top: 1vw;
}

.Pris{
  text-align: right;
  margin-right: 13vw;
}

body {
  margin: 0;
  background: url("Drift.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.InfoProdukt{
  width: 24vw;
  margin: 0;
  float: right;
  margin-top: 6vw;
}

.InfoProdukt h2{
  margin-bottom: 4vw;
}

main{
  padding-bottom: 10vw;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 5vw;
  text-align: center;
  font-family: arial;
  padding: 2vw;
  margin-top: 0px;
}
iframe {
  width: 70vw;
  height: 39vw;
  display: block;
  text-align: center;
  margin: auto;
}

li {
  margin: 20px;
}

h1 a {
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

.Oss {
  display: block;
}

.OmOss {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vw;
  background-color: white;
  width: 60%;
  border-radius: 2vw;
  margin-bottom: 15vw;
  padding-bottom: 2vw;
}

.OmOss>h1 {
  text-align: center;
  margin-left: 2vw;
  margin-right: 1.2vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
  font-family: sans-serif;
}

.OmOss>h3 {
  text-align: center;
  margin-left: 2vw;
  margin-right: 1.2vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
  font-family: sans-serif;
}

.OmOss>p {
  text-align: center;
  color: black;
  margin-left: 1.5vw;
  margin right: 1vw;
  font-family: sans-serif;
}

#Ree {
  z-index: 0;
}

.HjemmeGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.AlleProdukter {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  background-color: white;
  margin: 3vw;
  border-radius: 2vw;
  width: 32vw;
}

.Nyhet {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  background-color: white;
  margin: 3vw;
  border-radius: 2vw;
  width: 32vw;
  margin-left: 15vw;
}

.Biler {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  background-color: white;
  margin: 3vw;
  border-radius: 2vw;
  width: 32vw;
  margin-left: 15vw;
}

.Plass {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  background-color: white;
  margin: 3vw;
  border-radius: 2vw;
  width: 32vw;
}

.Video {
  grid-column: span 2;
  grid-row: span 2;
}

.hovedGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hovedGrid

.Alfa {
  text-align: center;
  background-color: white;
  margin: 3vw;
  border-radius: 2vw;
}

#header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #848484;
  background-color: #cee1ff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2;
  z-index: 4;
  height: 5vw;
  align-items: center;
  padding-right: 1000px;
}

#header a {
  z-index: 2;
}

#header img {
  height: 4.5vw;
}

.div {
  height: 3vw;
  width: 10vw;
  border-radius: 0.4vw;
}

#VideoTraxxas {
  width: 50vw;
  height: 28.2vw;
}

footer {
  bottom: 0;
  position: fixed;
  border-top: solid black;
  background-color: #474747;
  width: 90%;
  color: white;
  text-align: center;
  font-size: 1vw;
  font-family: monospace;
  height: 1vw;
  padding: 1vw;
  padding-right: 5%;
  padding-left: 5%;
  align-items: baseline;
}

Header A{
  text-align: left;
}

footer p {
  display: inline;
}

#F1 {
  float: left;
  margin: 0;
}

#F3 {
  float: right;
  margin: 0;
}

#LogoIndex {
  z-index: 10;
}

#FotTXT{
  margin-top: 15vw;
}

.TxtDiv{
  float: right;
}

.ProduktImg{
  width: 30vw;
}

::-webkit-scrollbar {
  background-color: rgb(125, 125, 125);
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 12vw;
}

.penger {
  background-color: yellow;
  width: 130px;
  padding: 22px;
  border-radius: 5px;
  float: right;
  margin-right: 10vw;
}

.Handel {
  background-color: white;
  border-radius: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 60px;
  margin-bottom: 120px;
  padding: 4vw;
  padding-bottom: 10vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 5vw;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.PorImg{
  width: 40vw;
  height: 35vw;
/*  border-right: solid 1px;*/
}
/*FUll HD*/
@media(max-width: 1920px) {
  .hovedGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 12vw;
    width: 100%;
    margin: auto;
  }
}

/*Gammel PC*/
@media(max-width: 1366px) {
  .hovedGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 12vw;
    width: 100%;
    margin: auto;
  }
}

/* Telefon*/
@media(max-width: 750px) {
  .hovedGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-row-gap: 12vw;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .HjemmeGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-row-gap: 12vw;
    width: 100%;
    margin: auto;
    text-align: center;

  }
}
